/*style.css*/
.ui-header .ui-btn{
	background:transparent !important;
	border:0;
}
.store-list li p{
	line-height:1.7em;
}
input,a,button,div{
	outline:0 !important;
}
span.red{
	color:#008000;
	line-height:1.2em;
	font-size:1.2em;
	font-weight:bold;
}
span.code{
	color:#999 !important;
	display:inline-block;
	margin-right:8px !important;
}
h1 span.red{
	color:#f9f9f9;
}
.dj.right{
	position: absolute;
	right: 60px;
	font-size: 14px;
	color: #008000;
}
.grey.ui-content{
	background:#F2F0E4;
}
.ui-li-has-thumb a img{
	display:inline-block;
	width:65px;
	margin:1% 2%;
	border-radius:40px !important;
}
form{
	width:90%;
	margin:1em auto;
	padding:1em;
	background:#fff;
	border-radius:.5em;
	border:1px solid #ddd;
}
textarea{
	height:2.5em;;
}
.submit-btn{
	background:#dedaba !important;
	opacity:.8 !important;
}
